# Day 2 warm-up exercises

---

## What is the type of the object? (What `class` does the object belong to?)

To get the type (or class) of any object in Python, we can use the `type` built-in method.

Example:
``` python
>>> a = 5
>>> type(5)
```

### Exercise
Please find the type of the following objects.

In [21]:
a = 2
b = 2.
c = 2.5
d = 10 / 2
e = 10 // 2
f = "What is my class name?"
g = [1, "2", 3, "4", 5, "and so on.."]
h = tuple(g)
i = {"a": "int", "b": "float", "f": "str", "h": "tuple"}

In [23]:
print(type(a))
print(type(i))

<class 'int'>
<class 'dict'>

## Tuple unpacking

If we have a collection (e.g., list or tuple), we can store every element of them in a single variable by unpacking:

``` python
>>> my_tuple = (3, "value2", 10.5)
>>> a, b, c = my_tuple
```

### Exercise

Unpack the following tuples into variables that have only a single value (they are not a list or a tuple).

In [25]:
a_tuple = (3, "value2", 10.5)

In [26]:
a, b, c = a_tuple

In [27]:
a_list = [3, "value2", 10.5]

In [28]:
a, b, c = a_list

In [29]:
my_tuple = ((3, "value2"), 10.5)

In [30]:
(a, b), c = my_tuple

In [31]:
my_tuple = ((3, "value2"), 10.5, (30, "value20", 105))

In [34]:
(a, b), c, (d, e, f) = my_tuple

---

## Strings

Python provides some basic built-in functions which helps us to get some insight about the data/object we are dealing with. <br>
For example, the `len()` function, tells us how many elements does our object (e.g., string, list, tuple, etc.) have.

In [1]:
my_str = "Here is a sample string"
print(len(my_str))

23

### Exercise
Find the length of the given string.

In [2]:
a_str = "How many characters do I have?"

In [3]:
len(a_str)

30

### What functions (methods) are there?

beside the built-in functions provided by Python, every object in Python comes with some methods which can be used to explore and/or manipulate the object.

One can see these methods in two ways:
- the "." operator and TAB
- the python built-in function `dir()`

### What does the function (method) do?

If we want to know more about a specific method, we need to look at its documentation. <br>
The documentation of any method or attribute of an object can be displayed by adding `?` at the end of the method name.

for example, if we have a string with value "here is a string", we can look at its methods:

In [4]:
my_str = "here is a string"

In [5]:
dir(my_str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

And if let's say we want to know what method `title()` does:

In [6]:
my_str.title?

Docstring:
S.title() -> str

Return a titlecased version of S, i.e. words start with title case
characters, all remaining cased characters have lower case.
Type:      builtin_function_or_method

<br>

### Exercise
Use the `capitalize()`, `title()`, `swapcase()`, `lower()`, `upper()`, and `replace()` methods, or the `+` or `*` operators, to perform the following modifications:

**python is awesome -> PYTHON IS AWESOME**

In [7]:
"python is awesome".upper()

'PYTHON IS AWESOME'

**the great danton -> The Great Danton**

In [8]:
"the great danton".title()

'The Great Danton'

**beginning of a paragraph -> Beginning of a paragraph**

In [9]:
"beginning of paragraph".capitalize()

'Beginning of paragraph'

**three -> threethreethree**

In [10]:
"three" * 3

'threethreethree'

**Hello -> hello**

In [11]:
"Hello".lower()

'hello'

**HEllO -> heLLo**

In [12]:
"HEllO".swapcase()

'heLLo'

**I hate programming -> I love programming**

In [13]:
"I hate programming".replace("hate", "love")

'I love programming'

### Exercise
Using the string method `split()`, split the given string into a list of words that make it up.

In [14]:
my_str = "Today is Monday, 11th March"

In [15]:
my_str.split()

['Today', 'is', 'Monday,', '11th', 'March']

As you have probably notices, the `split()` method by default uses SPACE as the separating character. 

### Exercise
How can we separate `my_str` by the comma?
``` python
>>> ['Today is Monday', ' 11th March']
```

In [16]:
my_str.split(",")

['Today is Monday', ' 11th March']

### Formatting strings

The most common method used for strings is the `format()` method, so it deserve a special mention. It is used to insert data into a string. It is similar to `replace()` method but only replaces curly braces, `{}`. And it's such a powerful and useful method that there is a whole webpage dedicated to showing all the ways you can use it: https://pyformat.info/

So we have a string, and we want to insert the value of some other variables inside it. Here is what we do:
- add {} in the place of the variables in the string
- add the `format()` method at the end of the string
- give the variables as input to the `format()` method

Here is an example:
``` python
>>> my_str = "variable one has value {} and variable two {}"
>>> my_str.format(1, 2)
>>> "variable one has value 1 and variable two 2"
```

### Exercise
Use the `format()` method to make the following three sentences (all the numbers should be replaces by `{}`).

**I bought 3 dogs**

**I'd like to have 6 children**

**Our workshop is 4 days. Now we are in day 2, so 2 more days to go**

In [17]:
my_str = "I bought {} dogs"
print(my_str.format(3))

I bought 3 dogs

In [18]:
my_str = "I'd like to have {} children"
print(my_str.format(6))

I'd like to have 6 children

In [19]:
my_str = "Our workshop is {} days. Now we are in day {}, so {} more days to go"
print(my_str.format(4, 2, 2))

Our workshop is 4 days. Now we are in day 2, so 2 more days to go

---

## Indexing and Slicing

To index a collection (e.g., list or tuple), we use square brackets, `[ ]`, and specify the index of the element of interest (remember that Python is 0-indexed). If we are interested in a range of indices we can specify the index of the start and end elements, as well as how many element we'd like to jump over. Here is a summary

``` python
>>> my_collection[ind]  # returns a single element
>>> my_collection[start_ind:end_ind:jump]  # returns multiple elements
```

### Exercise

Given the following list, please do the following tasks:

In [20]:
my_list = [3, 2, 4, -5, 6, 4, 3, -4, 5, 6, 0, 8, 9, 7, -1]

1) Display the first 5 elements of the list.

In [21]:
my_list[:5]

[3, 2, 4, -5, 6]

2) Display every second element of the first 5 elements of the list.

In [22]:
my_list[:5:2]

[3, 4, 6]

3) Display 5 elements starting from element with index 2.

In [23]:
my_list[2:7]

[4, -5, 6, 4, 3]

4) Diaply the last 5 elements of the list.

In [24]:
my_list[-5:]

[0, 8, 9, 7, -1]

5) Display every second element of the last five elements of the list.

In [25]:
my_list[-5::2]

[0, 9, -1]

6) Display the whole list in the reverse order.

In [26]:
my_list[::-1]

[-1, 7, 9, 8, 0, 6, 5, -4, 3, 4, 6, -5, 4, 2, 3]

---

## Lists and Tuples

Given the following tuple, please perform the tasks below:

In [27]:
my_tuple = (3, 2, 4, -5, 6, 4, 2, -4, 4, 6, 0, 8, 9, 7, -1)

1) How many elements does the the tuple have?

In [28]:
len(my_tuple)

15

2) What methods or attributes does the tuple object have?

In [29]:
dir(my_tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

3) What do these methods do (the ones that **does not** start with "__")?

In [30]:
my_tuple.count?

Docstring: T.count(value) -> integer -- return number of occurrences of value
Type:      builtin_function_or_method

In [31]:
my_tuple

(3, 2, 4, -5, 6, 4, 2, -4, 4, 6, 0, 8, 9, 7, -1)

In [32]:
my_tuple.count(4)

3

In [33]:
my_tuple.index(4)

2

4) What is the sum of all the elements in the tuple? <br>
**Hint:** `sum()`

In [34]:
sum(my_tuple)

45

5) What is the mean value of the tuple?

In [35]:
sum(my_tuple) / len(my_tuple)

3.0

6) Change the tuple to a list and save it as `my_list`.

In [36]:
my_list = list(my_tuple)

In [37]:
type(my_list)

list

7) Create a new list, with your own choice of numbers. and using the method `extend()` or the operator `+` add its elements to `my_list`.

In [38]:
my_list + [1, 2, 3]

[3, 2, 4, -5, 6, 4, 2, -4, 4, 6, 0, 8, 9, 7, -1, 1, 2, 3]

In [39]:
my_list

[3, 2, 4, -5, 6, 4, 2, -4, 4, 6, 0, 8, 9, 7, -1]

In [40]:
my_list.extend([1, 2, 3])

In [41]:
my_list

[3, 2, 4, -5, 6, 4, 2, -4, 4, 6, 0, 8, 9, 7, -1, 1, 2, 3]

8) Sort the list in descending order. <br>
**Hint:** `my_list.sort()`

In [42]:
my_list.sort()

In [43]:
my_list

[-5, -4, -1, 0, 1, 2, 2, 2, 3, 3, 4, 4, 4, 6, 6, 7, 8, 9]

9) What is the median of the list?

In [44]:
my_list[len(my_list)//2]

3

---

### enumerate()

Sometimes, as we iterate over the elements of a collection (list or tuple), we might also want to have access to a value which informs us about the iteration number. This could also be used as a number to index any other collection within the loop. For this purpose, we use the `enumerate()` function. Here is an example:

``` python
>>> my_list = ["str1", "str2", "str3", "str4"]
>>> for ind, el in enumerate(my_list):
>>>    print(ind, el)

>>> "0 str1"
>>> "1 str2"
>>> "2 str3"
>>> "3 str4"
```

9) Using a loop and the `enumerate()` method, change every element of the list to a string.

In [45]:
my_list = [5, 2, 5]

In [46]:
my_list

[5, 2, 5]

In [47]:
type(my_list[1])

int

In [48]:
my_list[0] = str(my_list[0])

In [49]:
my_list

['5', 2, 5]

In [50]:
for i, el in enumerate(my_list):
    my_list[i] = str(my_list[i])

In [51]:
my_list

['5', '2', '5']

---

## Putting things together

Do the following tasks with the given three lists:

In [52]:
a_list = [1, 2, 3, 4, 5]
b_list = [5, 4, 3, 2, 1]

### `zip()`
The `zip()` function takes multiple lists and turns them into one list of multiples, letting you iterate over the elements of multiple lists at the same time:

``` python
>>> for a, b in zip(a_list, b_list):
>>>     print(a, b)
```

1) Using `zip()`, add every element of the two lists and store the values in a new list called `c_list`.

In [53]:
c_list = []
for a, b in zip(a_list, b_list):
    c_list.append(a + b)

In [54]:
c_list

[6, 6, 6, 6, 6]

---

## Know more about your neighbors

1) Create a list which includes the names of your neighbors (at least 5, including your name)

In [55]:
names = ["Mohammad", "Amir", "Alex"]

2) Show the length of your list.

In [56]:
len(names)

3

3) Print the length of each element (i.e., each name) in a loop.

In [57]:
for name in names:
    print(len(name))

8
4
4

4) Using `enumerate()` change every element of your list to lower-case.

In [58]:
for ind, name in enumerate(names):
    names[ind] = name.lower()

In [59]:
names

['mohammad', 'amir', 'alex']

5) Swap the case of every element of the list (all will be upper-case).

In [60]:
for ind, name in enumerate(names):
    names[ind] = name.upper()

In [61]:
names

['MOHAMMAD', 'AMIR', 'ALEX']

6) Using the `join()` method of the string object, create a new string object which includes all the names in the list with a SPACE between each name.

In [67]:
" ".join(names)

'MOHAMMAD AMIR ALEX'

7) Create a second string which includes the family name of the same neighbors. And using a loop and `join()`, create a new list containing the first and the family name of your neighbors (with a SPACE in between) as one element.

In [68]:
fam_names = ["Bashiri", "Jackson", "Lawton"]

In [69]:
complete_names = []
for name, fam_name in zip(names, fam_names):
    complete_names.append(name + " " + fam_name)

In [70]:
complete_names

['MOHAMMAD Bashiri', 'AMIR Jackson', 'ALEX Lawton']

---

## Dictionaries

Dictionaries (or "dicts") are collections like lists, but instead of representing a sequence of values, they instead represent a mapping of key-value pairs. For example, in a dictionary of dog owners, one would look up the dog's name (the key) and get te corresponding owner's name (the value). As a result, dictionaries are not ordered by nature, it does not matter where an object appears in a dictionary - what matters is the mapping.

Dicts are created using the curely braces, `{ }`, and colons,  `:`.

``` python
>>> owners = {"dog1": "owner1", "dog2": "owner2", "god3": "owner3"}
>>> owners["dog1"]
>>> "owner1"
```

### Exercise

1) Create a dictionary for which the keys are your neighbors' name and the values are their age, including your name and age. call it `age_dict`.

In [135]:
dd = {"A": 29, "B": 27, "C": 20}

2) Create another dictionary with keys being the name and values the field of research/study (e.g., biochemistry, neurology, etc.) of your neighbor. call it `field_dict`.

In [141]:
ff = {"A": "Physics", "B": "Chemistry", "C": "Math"}

3) Print the length of each dictionary.

In [136]:
len(dd)

3

4) Print the keys of each dictionary.

In [137]:
dd.keys()

dict_keys(['A', 'B', 'C'])

5) Print the values of each dictionary.

In [138]:
dd.values()

dict_values([29, 27, 20])

6) Write loop and print the name and the age of your neighbor in every iteration.

In [140]:
for k, v in dd.items():
    print(k, v)

A 29
B 27
C 20

7) Write a loop and print the name of your neighbor along with their age and their field of study in every iteration.

In [155]:
for key, val in dd.items():
    print(key, val, ff[key])

A 29 Physics
B 27 Chemistry
C 20 Math

8) You have a list of single-character strings that represent conditions in your experiment: 'L', 'R', and 'C'. Using the provided dictionary provided, change those labels to 'Left', 'Right', and 'Center'.

In [157]:
conds = ['C', 'L', 'C', 'R', 'C', 'C', 'C', 'R', 'R', 'R']
conditions = {'C': 'Center', 'L': 'Left', 'R': 'Right'}

In [161]:
new_conds = []
for c in conds:
    print(c, conditions[c])
    new_conds.append(conditions[c])

C Center
L Left
C Center
R Right
C Center
C Center
C Center
R Right
R Right
R Right

In [162]:
new_conds

['Center',
 'Left',
 'Center',
 'Right',
 'Center',
 'Center',
 'Center',
 'Right',
 'Right',
 'Right']

---